<div class="contenedor-imagen-parrafo">
    <div class="texto-contenedor">
      <h3 class="titulo">Automatización</h3>
      <p class="parrafo">
        Tomamos tus reportes manuales y los automatizamos en el ecosistema que mejor se adapte a tu empresa.
      </p>
    </div>
  
    <img src="{% static 'images/icons-06.png' %}" alt="Icono" class="imagen-centro">
  
    <div class="texto-contenedor">
      <h3 class="titulo">Analítica Predictiva</h3>
      <p class="parrafo">
        Ayudamos a mirar el futuro de forma concreta basada en datos habilitando a reducir riesgos en mercados inciertos.
      </p>
    </div>
  </div>
  
  <div class="contenedor-imagen-parrafo">
    <img src="{% static 'images/icons-05.png' %}" alt="Icono" class="imagen-izquierda">
  
    <div class="texto-contenedor">
      <h3 class="titulo">Analítica Descriptiva</h3>
      <p class="parrafo">
        Proporcionamos indicadores estándar del mercado desde financieros, operacionales y comerciales.
      </p>
    </div>
  
    <img src="{% static 'images/icons-07.png' %}" alt="Icono" class="imagen-derecha">
  </div>
  
  <div class="contenedor-imagen-parrafo">
    <div class="texto-contenedor">
      <h3 class="titulo">RPA</h3>
      <p class="parrafo">
        Automatizamos procesos y los incorporamos a un robot para evitar tareas repetitivas manuales.
      </p>
    </div>
  
    <img src="{% static 'images/icons-09.png' %}" alt="Icono" class="imagen-centro">
  
    <div class="texto-contenedor">
      <h3 class="titulo">Despliegue</h3>
      <p class="parrafo">
        Ayudamos a tener una vista clara y simple de la información transformándola en conocimiento.
      </p>
    </div>
  </div>
  
  <div class="contenedor-imagen-parrafo">
    <img src="{% static 'images/icons-08.png' %}" alt="Icono" class="imagen-izquierda" style="margin-bottom: 15px;">
  
    <div class="texto-contenedor">
      <h3 class="titulo">Ecosistema de Datos</h3>
      <p class="parrafo">
        Aseguramos que tengas tus datos en forma y en un lugar ideal para tus necesidades
      </p>
    </div>
  
    <img src="{% static 'images/icons-10.png' %}" alt="Icono" class="imagen-derecha">
  </div>
  
  <div class="contenedor-imagen-parrafo">
    <p class="parrafo">
      Si necesitas más información para decidir Visual IQ, revisa  <a href="/nuestro-servicio" style="color: #6FA388;">aquí</a>.
    </p>
  </div>