{% load static %}
<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %}
        Visual IQ Web
      {% endblock %}
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" />
    <link rel="stylesheet" href="{% static '../static/css/style.css' %}" />
  </head>
  

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; top: 0; left: 0; width: 100%; padding: 8px; z-index: 1050; box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);">
      <a class="navbar-brand" href="/"><img src="{% static '../static/images/logo-visualiq.png' %}" alt="Visual IQ Logo" style="height: 40px; margin-right: 600px; margin-left: 150px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn btn-custom" href="/visualiq" style= "font-family: serif; ">Visual IQ</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-custom" href="/nuestro-servicio" style= "font-family: serif; ">Nuestro Servicio</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-custom" href="/equipo" style= "font-family: serif; ">Equipo</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-custom" href="/contacto" style= "font-family: serif; ">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="content_fullwidth">
			<div id="slider">
				<video id="videoFondo" autoplay muted loop>
					<source src="../static/images/bg-video.mp4" type="video/mp4">
          <source src="/images/bg-video.webm" type="video/webm">
				</video>
				<div class="content-slide">
					<h2 style= "font-family: serif; ">VISUAL IQ</h2>
					<p style= "font-family: serif; ">Expertos en Algoritmos IA y Visualización de Data.</p>
				</div>
			</div>

    </div>
    <div class="basic">
      {%include "carousel.html" %}

    </div>
  
    <div class="img_inline" style="position: relative; margin-top: 8cm; margin-bottom: 8cm; right:-5%;">
      <!-- Imagen -->
      <img src="../static/images/img-data.png" alt="Data Visual" style="width: 100%; height: auto;" />
    
      <!-- Texto sobre el espacio en blanco -->
      <div style="position: absolute; top: 50%; right: -50%; transform: translateY(-50%); max-width: 70%; text-align: left; background-color: rgba(255, 255, 255, 0.8); padding: 100px; border-radius: 30px; ">
        <h3>Te lo explicamos</h3>
        <h1>¿POR QUÉ <strong>VISUAL IQ</strong>?</h1>
    
        <h2>Habilita la toma de decisiones acertadas</h2>
        <p style="text-align: justify">Capacidad para presentar datos y análisis de una manera visual amigable, facilitando la comprensión de la información clave, lo que a su vez conduce a la toma de decisiones más informadas y rápidas.</p>
    
        <h2>Apoyo de expertos y tecnología</h2>
        <p>Contamos con un equipo de alto nivel en experiencia, seriedad, profesionalismo y cercanía que junto a soluciones tecnológicas y algoritmos de alto nivel permiten mejores resultados en menos tiempo.</p>
    
        <h2>Adopción digital acelerada</h2>
        <p>Ayudamos a adoptar estrategias digitales de manera más efectiva proporcionando herramientas y análisis que permiten a las organizaciones aprovechar al máximo la transformación digital y las oportunidades en línea.</p>
      </div>
    </div>
   


    <div class="wsp"><span class="msg-wsp">¡Escríbenos!</span>
      <a href="https://api.whatsapp.com/send?phone=+56998175377&amp;text=Hola!%20Quiero%20saber%20mas%20de%20VisualIQ..." target="_blank">
        <img src="../static/images/ico_whatsapp.png" alt="Wsp" width="100%">
      </a>
    </div>



    <div class="socials">
			<span class="ico_social">
        <a href="https://www.linkedin.com/company/visualiq-tech/" target="_blank">
          <img src="../static/images/ico_linkedin.png" alt="Wsp" width="100%" style="height: 40px; margin-right: 0px; margin-left: 0px">
        </a>
      </span>
		</div>

    <div class="container">
      {% block content %} 
      
      {% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>


    <div class="foot" style="position: fixed; bottom: 0; left: 0; width: 100%; padding: 2px;  color: rgb(255, 255, 255); font-size: 8pt; background-color: #6FA388; box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); border-top: 3px solid #D6D6D6; z-index: 100;">
      <span class="ico_foot">
      <footer>
        <p align="center">
        VISUALIQ © 2025 Todos los derechos reservados.
        </p>
      </footer>
    </span>
    </div>
  
  </body>
</html>