.btn-custom {
    border: 2px solid #6FA388; /* Color del borde */
    background-color: #6FA388; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    padding: 5px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Quita el subrayado */
    font-weight: bold; /* Texto en negrita */
    margin-right: 10px; /* Espaciado entre botones */
  }
  .btn-custom:hover {
    background-color: #6FA388; /* Fondo al pasar el cursor */
    color: #FFFFFF; /* Texto blanco */
  }

#content_fullwidth{width: 100%;margin:0 auto;box-sizing: border-box;text-align: left;padding-top:0px}
#content_fullwidth .content_middle{position:relative;width: 100%;margin: 0 auto;padding: 90px 0px}
#content_fullwidth .content_middle:last-child{margin-bottom:0;padding-bottom:0}

#slider{position: relative;z-index: -1;height: 700px;}
#videoFondo{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
#slider .content-slide{position: absolute;width: 100%;top: 80px;text-align: center;}
#slider .content-slide h2{font-size:65pt;font-weight:bold;color:#fff}
#slider .content-slide p{font-size:20pt;color:#fff}

.img_inline, .text_inline{display:inline-block;vertical-align: middle;text-align: center}
.img_inline{width:55%;padding:2%}
.img_inline img{width:90%;max-width:500px}

/*Whatsapp Icon*/

.wsp{position: fixed;right: 15px;bottom: 90px;z-index:9;text-align:right;}
.wsp span{display: block;background: #fff;border-radius: 20px;border: 1px solid #ddd;padding: 5px 10px;}
.wsp img{width: 50px;}
.wsp img:hover{opacity:0.8;transition: 0.3s}

/*Linkd In*/
.socials{position: fixed;top: 50%;right: 0;z-index:10}
span.ico_social{display: block;background: #fff;margin-bottom: 10px;padding: 10px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;border-top: 1px solid #D6D6D6;border-left: 1px solid #D6D6D6;border-bottom: 1px solid #D6D6D6}
span.ico_social a{color:#000}
span.ico_social a:hover{color:#70a388}